<div>
  <div fxLayoutAlign="center center">
    <h5>
      <b>
        Why Choose Us
      </b>
    </h5>
  </div>

  <div>
    <mat-card>
      <mat-card-content>
        <div fxLayoutAlign="center center">
           Your business depends on your IT systems. We’re confident that our services can help
              improve your business.
           Here are the reasons you can depend on ewave Solutions to keep you and your business up and running:
            
        </div>
      
      </mat-card-content>
    </mat-card>
  </div>
 
</div>

<div class="row">
    <div class="col s12 m6">
  
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ewave</mat-card-title>
              <mat-card-subtitle>Strategic Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/pic1.jpg" alt="">
            <mat-card-content>
              <div>
                <div fxLayout="column">
                  <img src="assets/images/quality.png" alt="" style="width:50px; height:50px;">
                    <b>Committed to Quality.</b>
                    
                </div>
                
                <p>We don’t pursue every company that needs computer support. We choose only clients that share in our values.
                   Serving a company’s IT and critical network needs is a HUGE responsibility that we take  very seriously.
                    It takes teamwork and a solid commitment to good communication, excellence, and industry best practices to serve a company in an excellent manner.
                </p>
              </div>
              <div>
                  <div fxLayout="column">
                      <img src="assets/images/problem.png" alt="" style="width:50px; height:50px;">
                      <b>We Help Solve Your Business Problems.</b>
                        
                    </div>
              
                <p>We sit on the same side of the table as YOU to provide business solutions to business problems.
                  We listen to your business problem and
                    offer several strategies to resolve the problem and achieve your objectives.</p>
              </div>
              <div>
                  <div fxLayout="column">
                      <img src="assets/images/satisfactory.png" alt="" style="width:50px; height:50px;">
                      <b>Satisfaction Guaranteed.</b>
                        
                    </div>
              
                <p>All our programs and products come with an unprecedented 100% Money Back Guarantee.</p>
              </div>
    
            </mat-card-content>
            <mat-card-actions>
    
            </mat-card-actions>
          </mat-card>
    </div>
    
       <div  class="col s12 m6">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image1"></div>
                <mat-card-title>ewave</mat-card-title>
                <mat-card-subtitle>Tactical Team</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/images/pic2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div fxLayout="column">
                      <img src="assets/images/fast.png" alt="" style="width:50px; height:50px;">
                      <b>Fast Response  Time Guaranteed.</b>
                        
                    </div>
             <div>
              
                <p>Other companies think if your problem doesn’t seem that bad they can wait a few days to call you back….
                   We get back to you fast so you know when your problem will be resolved.
                   Our contracts spell out our response time. </p>
             </div>
             <div>
                <div fxLayout="column">
                    <img src="assets/images/work.png" alt="" style="width:50px; height:50px;">
                    <b>We Are FUN To Work With.</b>
                      
                  </div>
           
                <p>Anyone can fix a computer, but the experience of working with the person helping you is so important
                  
                  The ewave Team genuinely cares about every client. This drives us to provide absolute fanatical support of their systems.</p>
             </div>
             <div fxLayout="column">
                <img src="assets/images/security.png" alt="" style="width:60px; height:50px;">
                <b>Security is Paramount.</b>
                  
              </div>
           
             <p>At ewave we follow and enforce Security Best Practices for all our clients, as well as internally.
                We educate our team and our clients on cyber security to keep networks safe. We got your back!</p>
              </mat-card-content>
              <mat-card-actions>
      
              </mat-card-actions>
            </mat-card>
        
      
       </div>
      
</div>


    