<div>
  <div fxLayoutAlign="center center">
   
  </div>
  <div>
 <div class="row" style="margin: 20px;">
<div class="col s12 m4">
  <img src="assets/images/onlinesupport.PNG" alt="" class="img-style">
  <b> Online Support</b>
</div>
<div class="col s12 m4">
    <img src="assets/images/247.PNG" alt="" class="img-style">
    <b>24/7 Round the Clock</b>
</div>
<div class="col s12 m4">
    <img src="assets/images/allissues.PNG" alt="" class="img-style">
    <b>Handling All Issues</b>
</div>

 </div>
  </div>
</div>