<div class="colorme">
  <div fxLayoutAlign="center center">
   
  </div>
  <div>
 <div class="row" style="margin: 20px;">
<div class="col s12 m4">
  <img src="assets/images/onlinesupport.PNG" alt="" class="img-style">
  <b> Online Support</b>
  <br>
  <p>
    At ewave, Our customers are our 
    <b>No.1</b> priority.With our Online chat support system and over 9 agent,
     we provide our customers with best support. 
    </p>
  
</div>
<div class="col s12 m4">
    <img src="assets/images/247.PNG" alt="" class="img-style">
    <b>24/7 Round the Clock</b>
    
      <p>
        At ewave,The large size of our support team makes it great for us to provide our customers with 
        <b> 24/7</b> support
       
      </p>
    
</div>
<div class="col s12 m4">
    <img src="assets/images/allissues.PNG" alt="" class="img-style">
    <b>Handling All Issues</b>
   
  <li>Websites</li>
     <li>Mobile Applications</li>
     <li>Desktop Applications</li>
     <li>Geneal IT Solutions</li>
  
</div>

 </div>
  </div>
</div>