
    <footer class="page-footer"  class="example-header-image">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <p class="white-text">ewave</p>
            
            </div>
            <div class="col l4 offset-l2 s12">
        
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
       
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright" style="color:white">
          <div class="container">
              @Copyright 2019 ewave. All Rights Reserved. 
          <a class="grey-text text-lighten-4 right" href="#!">.</a>
          <a class="grey-text text-lighten-4 right" href="#!">.</a>
          
          </div>
        </div>
      </footer>


      