<div class="imgstyle">
    <div style="padding: 20px;" class="imgstyle">
        <mat-card>
     
           <mat-card-content>
             <div fxLayoutAlign="center center">
               <h4>Some Awesomeness that should share</h4>    
             </div>
             <div class="row">
                 <div class="col s12 m4">
                 <div fxLayout="column">
                     <img src="assets/images/code.png" alt="" style="width:50px; height:50px; border-radius: 100px;">
                       <p>Do you always dream to become a software developer?
                        Either Front-end or Back-end  developer?
                        What about ewave helping you to achieve your drams 
                        Through Industry standard,tested and proven ways for a candidate like you
                       
                       </p>
     <div>
         <ul>  
             <li>
               <b>Website Development</b>
               
           </li>
             <li>
               <b>  mobile App Development</b>
             
             </li>
             <li>
               <b>Desktop Applications</b>
               
             </li>
           </ul>
     </div>
                       
                   </div>
                 </div>
                 <div class="col s12 m4">
                     <div fxLayout="column">
                         <img src="assets/images/graphics.png" alt="" style="width:50px; height:50px;  border-radius: 100px;">
                         <p>Do you always dream to become a professional Ggrpahic Designer?
                             Either Visual identity graphic design, Marketing & advertising graphic design,User interface graphic design etc?
                             What about we help you to achieve your dreams
                             Through Industry standard,tested and proven ways for a candidate like you
                            
                            </p>
          <div>
              <ul>  
                  <li>
                    <b>Graphic Design</b>
                    
                </li>
                  <li>
                    <b>Animations</b>
                  
                  </li>
                  <li>
                    <b>Motion graphic design</b>
                    
                  </li>
                </ul>
          </div>
                           
                       </div>
                     </div>
                     <div class="col s12 m4">
                         <div fxLayout="column">
                             <img src="assets/images/google.png" alt="" style="width:50px; height:50px;  border-radius: 100px;">
                             <p>Is your  Business available on the world leading search engines?
                                if yes We will be happy to help you manage it in a more professional way, if no no WORRIES,
                                ewave is ready to help you with his professional Digital makerting team to get you on.
     
                                </p>
              <div>
                  <ul>  
                      <li>
                        <b>Google Search Engine</b>
                        
                    </li>
                      <li>
                        <b>Yahoo Search Engine</b>
                      
                      </li>
                      <li>
                        <b>Other Search Engine</b>
                        
                      </li>
                    </ul>
              </div>
                               
                           </div>
                         </div>
                       
     
             </div>
           </mat-card-content>
        </mat-card>
      </div>
</div>
