
  <div fxLayout="row">
    <img src="assets/images/logo.PNG" alt="" style="width:100px; height:100px; border-radius: 100px; ">

   
    <span fxFlex></span>
    <div></div>
    <div fxLayout.xs="column" class="top-space">
        <button mat-button>Home</button>
        <button  mat-button>We Offer</button>
        <button  mat-button>About</button>
        <button  mat-button>Contact</button>
        <button  mat-button>Pages</button>
    </div>
 
</div>
<div>
  <app-home></app-home>
</div>
<router-outlet></router-outlet>
