<div class="example-header-image">

  <div fxLayoutAlign="center center" fxLayout="column" style="color:white; font-size: 16pt; padding:20px;">
    
    
    <div style="padding:20px;">
         DISCOVER THE DIGITAL WORLD 
    </div>
    <div style="padding:20px;">
      <b> Software Solutions</b>
  </div>
  <div style="padding:20px;" style="color:red;">
    <b>Graphic Design</b>
</div>
<div style="padding:20px;">
  <b> Digital Marketing</b>
</div>
<div style="padding:20px;">
  <b>General</b>
</div>

  
   
    <div>

    
     
</div>
<div>
  <button mat-raised-button >Discover   now</button>
</div>



