

<div fxLayoutAlign="center center">
  <h3>
    Let get intouch
  </h3>

</div>  

 <div>
 <form style="margin:20px;">
<div class="row" fxLayoutAlign="">

  <div class="col s12 m6">
 <input type="text" placeholder="Enter Yiur Name">
 <input type="text" placeholder="Enter Your Email Address">
  </div>
  
  <div class="col s12 m4">
     
      <input type="text" placeholder="Enter your Subject">
      <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
      <div align="end">
          <button mat-raised-button color="warn">
              Send Messge
            </button>
      </div>
     
  </div>
</div>


 </form>
 </div>

