

<div fxLayoutAlign="center center">
  <h3>
    Let's get intouch
  </h3>

</div>  

 <div>
 <form >
<div class="row">

  <div class="col s12 m6">
 <input type="text" placeholder="Enter Your Name">

  </div>
  <div class="col s12 m6">
      <input type="text" placeholder="Enter Your Email Address">
  </div>
  
  
     <div  class="col s12 m6">
        <input type="text" placeholder="Enter your Subject">
     </div>
    
     <div class="col s12 m6">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
     </div>
     
      <div align="end">
          <button mat-raised-button color="warn">
              Send Messge
            </button>
      </div>
     
 
</div>


 </form>
 </div>

